<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @item.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @item.reference %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @item.availability %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @item.genre %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @item.release_date %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
